html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: var(--color-gallery);
    }

main{
    display: flex;
    flex-direction: column;
}

.services{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

@media screen and (max-width:992px) {

nav{
    overflow: hidden;
    background-color: var(--color-blue-zodiac);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

nav #myLinks {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

nav a{
    text-decoration: none;
    display: flex;
    color: var(--color-gallery);
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    float: left;
    flex-direction: column;
}

nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

nav a:hover{
    background-color: var(--color-astronaut);
}

.active {
    background-color: var(--color-astronaut);
    color: white;
  }
}

header{
    background-image: url("https://img.freepik.com/foto-gratis/pantallas-computadora-que-ejecutan-codigo-programacion-oficina-agencia-desarrollo-software-vacio-computadoras-que-analizan-algoritmos-datos-segundo-plano-servidores-red-neuronal-cloud-computing-sala-datos_482257-33353.jpg?w=900&t=st=1680918168~exp=1680918768~hmac=12658b8a1b46602385aed12811945c9ede00ee55ceb2a84bc365bc76dcf038c0");
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand{
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 238, 238, 0.289);
    position: absolute;
    width: 100%;
    height: 60%;
}

.brand h1{
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 10%;
}

.brand p{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

section{
    display: flex;
    width: 100%;
    height: auto;
    padding: 14px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: var(--color-blue-zodiac);
    color: var(--color-gallery);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 14px 14px;
    font-size: 14px;
    font-weight: bold;
    width: 35%;
}

.btn:hover{
    background-color: var(--color-astronaut);
}

.form-group {
    margin: 20px 0;
}
   
  .form-group label,
  input:not([type="radio"], [type="checkbox"]) {
    width: 100%;
}
  
  .form-group input,
  .form-group label {
    vertical-align: middle;
}
  
  .form-group textarea {
    display: block;
    width: 100%;
    resize: vertical;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    background: var(--color-gallery);
    border: 1px solid var(--color-bright-gray);
    border-radius: 4px;
    padding: 8px 10px;
    color: var(--color-cerulean);
  }

footer{
    background-color: var(--color-blue-zodiac);
    text-align: center;
    padding: 12px;
}

footer p{
    color: var(--color-gallery);
    font-weight: bold;
    font-size: 12px;
}