@media screen and (min-width:992px) {
    nav {
        display: flex;
        flex-direction: row;
        background-color: var(--color-blue-zodiac);
    }

    nav #myLinks {
        display: flex;
        flex-direction: row;
    }

    nav a {
        text-decoration: none;
        color: var(--color-gallery);
        font-weight: bold;
        text-align: center;
        padding: 14px 16px;
        float: left;
    }

    nav a.icon {
        display: none;
    }

    nav a:hover {
        background-color: var(--color-astronaut);
    }

    .active {
        background-color: var(--color-astronaut);
        color: white;
    }

    .services-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 80px auto auto;
        gap: 20px;
        width: 100%;
        padding: 14px 16px;
        margin-bottom: auto;
        align-items: baseline;
    }

    .services {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #contact {
        margin-top: 25%;
    }

}