:root{
    --color-blue-zodiac: #142850;
    --color-astronaut: #27496D;
    --color-blue-chill: #0C7B93;
    --color-cerulean: #00A8CC;
    --color-gallery: #EEEEEE;
    --color-bright-gray: #393E46;
}

.secondary {
    --color-ebony-clay: #222831;
    --color-bright-gray: #393E46;
    --color-bondi-blue: #00ADB5;
}



